# Don't copy in git history?
.git*
**/.git*

# Don't copy tests into images?
**/test/**
**/tests/**
**/__test__/**
**/__tests__/**
**/*.spec.*
**/*.test.*

**/*.log
**/.DS_Store

# Editor junk
**/tags*
**/GTAGS
**/GPATH
**/GRTAGS
**/.session*
**/.undodir
**/.history
**/.dccache

# Built TS etc.
**/dist
**/dist-template
**/coverage
**/.test
**/*.tsbuildinfo
**/node_modules

# yarn 3 stuff
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/versions
**.pnp.*
# ignore sdk stuff
**.vim
