@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

iframe {
  position: relative;
  break-inside: auto !important;
  /*break-before: avoid;*/
}

.zd-comment img {
  max-width: 60%;
}
